@use "./../global/variables" as v;
@use "./../global/colors" as c;

.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    min-height: 60px;
    padding-left: map-get(v.$indents, small);
    background-color: c.$base-white;

    @media (min-width: map-get(v.$breakpoints, medium)) {
        min-height: 80px;
        padding: 0 map-get(v.$indents, small);
    }

    @media (min-width: map-get(v.$breakpoints, large)) {
        position: static;
        padding: 0 map-get(v.$indents, large);
    }
    
    &--nojs {
        position: static;
        flex-wrap: wrap;
    }
}

.header__link {
    flex-shrink: 0;
    margin-right: auto;
}

.header__button {
    @media (min-width: map-get(v.$breakpoints, medium)) {
        display: none;
    }

    &--nojs {
        display: none;
    }
}