@use "./colors" as c;
@use "./variables" as v;

body {
    margin: 0;
    font-family: v.$font-main;
    font-size: map-get(v.$font-size, main);
    line-height: map-get(v.$line-height, main);
    font-weight: 400;
    color: c.$base-black;
    background-color: c.$base-white;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: c.$base-black;
    text-decoration: none;

    &:focus-visible {
        outline: 2px solid c.$base-primary;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }