$font-main: "Montserrat", "Verdana", sans-serif;

$breakpoints: (
    small: 320px,
    // medium: 768px,
    medium: 700px,
    large: 1240px,
    maxwidth: 1440px,
);

$indents: (
    small: 20px,
    medium: 30px,
    large: 40px,
);

$layers: (
    main: 0,
    header: 5,
    hero-image: 1,
    hero-text: 2,
    map-image: 0,
    map-block: 1,
    map-pin: 2,
);

$font-size: (
    small: 12px,
    medium: 16px,
    main: 14px,
    large: 20px,
    h3-large: 24px,
    h3-medium: 24px,
    h3-small: 18px,
    h2-large: 42px,
    h2-medium: 42px,
    h2-small: 24px,
    h1-large: 56px,
    h1-medium: 56px,
    h1-small: 36px,

);

$line-height: (
    small: 16px,
    medium: 24px,
    main: 20px,
    large: 32px,
    h3-large: 36px,
    h3-medium: 36px,
    h3-small: 32px,
    h2-large: 64px,
    h2-medium: 64px,
    h2-small: 36px,
    h1-large: 80px,
    h1-medium: 80px,
    h1-small: 48px,
);
