/* GLOBAL */
@use "./global/fonts";
@use "./global/variables";
@use "./global/global";

/* BLOCKS */
@use "./layout/header";
@use "./layout/footer";
@use "./layout/page-wrapper";
@use "./components/site-navigation";
@use "./components/user-navigation";
@use "./components/menu-button";
@use "./components/logo";
@use "./components/tag";
@use "./components/title";
@use "./components/hero";
@use "./components/swiper";
@use "./components/slide";
@use "./components/features";
@use "./components/catalog";
@use "./components/form";
@use "./components/slider";
@use "./components/input-number";
@use "./components/custom-radio";
@use "./components/custom-checkbox";
@use "./components/button";
@use "./components/select";
@use "./components/product-card";
@use "./components/pagination";
@use "./components/map";
@use "./components/social-list";
@use "./components/footer-list";
@use "./components/address";
@use "./components/credit";
