@use "./../global/variables" as v;
@use "./../global/colors" as c;

.button {
    padding: 8px;
    font-family: inherit;
    font-weight: 400;
    color: c.$base-white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
}

.button--main {
    background-color: c.$base-primary;
    
    &:hover,
    &:focus {
        background-color: c.$primary-lighter;
    }

    &:active {
        background-color: c.$primary-darker;
    }

    &:disabled {
        background-color: c.$base-grey;
        cursor: default;
    }
}

.button--add {
    color: c.$base-primary;
    background-color: c.$base-white;
    
    &:hover,
    &:focus {
        color: c.$base-white;
        background-color: c.$primary-lighter;
    }

    &:active {
        color: c.$base-white;
        background-color: c.$primary-darker;
    }

    &:disabled {
        color: c.$base-white;
        background-color: c.$base-grey;
        cursor: default;
    }
}