@use "./../global/variables" as v;
@use "./../global/colors" as c;

.footer-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-list__item {
    margin-bottom: 16px;
}

.footer-list__link {
    padding: 8px 0;
    font-weight: 500;
    font-size: map-get(v.$font-size, small);
    line-height: map-get(v.$line-height, small);
    text-transform: uppercase;
    transition: color 0.2s ease-out;
    
    @media (min-width: map-get(v.$breakpoints, medium)) {
        &:hover,
        &:focus {
            color: c.$primary-lighter;
        }
    }
    
        &:active {
            color: c.$primary-darker;
        }
}