@use "./../global/variables" as v;
@use "./../global/colors" as c;

.form__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 23px;
    padding-bottom: 13px;

    @media (min-width: map-get(v.$breakpoints, medium)) {
        grid-template-columns: 30% 30% 1fr;
        gap: map-get(v.$indents, medium);
    }

    @media (min-width: map-get(v.$breakpoints, large)) {
        grid-template-columns: 1fr;
        gap: 24px;
    }
}

.form__slider {
    margin-top: 10px;
    margin-bottom: 37px;

    @media (min-width: map-get(v.$breakpoints, medium)) {
        margin-left: 4px;
        margin-right: -9px;
        margin-bottom: 34px;
    }
}

.form__input-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: map-get(v.$breakpoints, medium)) {
        margin-left: 6px;
    }
}

.form__divider {
    flex-grow: 1;
    display: inline-block;
    width: 8px;
    height: 2px;
    margin: 0 18px;
    background-color: c.$base-grey;
    vertical-align: middle;

    @media (min-width: map-get(v.$breakpoints, medium)) {
        margin: 0 13px;
    }
}

.form__input {
    flex-grow: 1;
}

.form__fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.form__legend {
    margin-bottom: 23px;
    padding: 0;
    font-size: map-get(v.$font-size, medium);
    line-height: map-get(v.$line-height, medium);
    font-weight: 600;

    &--mod {
        margin-bottom: 22px;
    }

    @media (min-width: map-get(v.$breakpoints, medium)) {
        margin-bottom: 20px;
    }
}

.form__label {
    display: flex;
    align-items: center;
    width: fit-content;
    
    &:not(:last-child) {
        margin-bottom: 21px;
    }
}

.form__legend--mod + .form__label {
        
    &:not(:last-child) {
        margin-bottom: 19px;
    }
}

.form__button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 135px;
    padding-top: 20px;
    
    @media (min-width: map-get(v.$breakpoints, medium)) {
        flex-direction: row;
        justify-content: center;
        height: auto;
        padding-top: 25px;
        padding-right: 80px;
    }
}

.form__button {
    width: fit-content;
    min-width: 160px;
    min-height: 45px;
    font-size: map-get(v.$font-size, main);
    line-height: map-get(v.$line-height, medium);
    text-align: center;
    vertical-align: middle;
        
    @media (min-width: map-get(v.$breakpoints, medium)) {
        min-width: fit-content;
        min-height: 40px;
        margin-left: 24px;
        padding: 5px;
    }
}