@use "./../global/variables" as v;
@use "./../global/colors" as c;

.form__fieldset-wrapper {
    padding-bottom: 13px;
}

.form__fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.form__legend {
    margin-top: 1px;
    margin-bottom: 23px;
    padding: 0;
    font-size: map-get(v.$font-size, medium);
    line-height: map-get(v.$line-height, medium);
    font-weight: 600;
}

.form__label {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}


.form__button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 115px;
}

.form__button {
    width: fit-content;
    min-width: 160px;
    min-height: 45px;
    font-size: map-get(v.$font-size, main);
    line-height: map-get(v.$line-height, medium);
    text-align: center;
    vertical-align: middle;
}