@use "./../global/variables" as v;
@use "./../global/colors" as c;

.form__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding-bottom: 13px;

    @media (min-width: map-get(v.$breakpoints, medium)) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: map-get(v.$indents, small);
    }

    @media (min-width: map-get(v.$breakpoints, medium)) {
        grid-template-columns: 1fr;
        gap: 24px;
    }
}

.form__slider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form__input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__divider {
    flex-grow: 1;
    display: inline-block;
    width: 8px;
    height: 2px;
    margin: 0 14px;
    background-color: c.$base-grey;
    vertical-align: middle;
}

.form__input {
    flex-grow: 1;
}

.form__fieldset {
    margin: 0;
    padding: 0;
    padding-bottom: 23px;
    border: none;
}

.form__legend {
    margin-top: 1px;
    margin-bottom: 23px;
    padding: 0;
    font-size: map-get(v.$font-size, medium);
    line-height: map-get(v.$line-height, medium);
    font-weight: 600;
}

.form__label {
    display: flex;
    align-items: center;
    width: fit-content;
    
    &:not(:last-child) {
        margin-bottom: 23px;
    }
}


.form__button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 115px;
    
    @media (min-width: map-get(v.$breakpoints, medium)) {
        flex-direction: row;
        justify-content: center;
    }
}

.form__button {
    width: fit-content;
    min-width: 160px;
    min-height: 45px;
    font-size: map-get(v.$font-size, main);
    line-height: map-get(v.$line-height, medium);
    text-align: center;
    vertical-align: middle;
        
    @media (min-width: map-get(v.$breakpoints, medium)) {


        &:not(:first-child) {
            margin-left: map-get(v.$indents, medium);
        }
    }
}