@use "./../global/variables" as v;
@use "./../global/colors" as c;

.logo {
    display: flex;
    align-items: center;
    transition: all 0.2s;

    @media (min-width: map-get(v.$breakpoints, large)) {

        &:hover {
            opacity: 0.8;
        }

        &--bigger {
            flex-direction: column;
            align-items: start;
        }
    }
}


.logo__image {
    width: 32px;

    @media (min-width: map-get(v.$breakpoints, medium)) {
        width: 82px;
    }

    @media (min-width: map-get(v.$breakpoints, large)) {
        width: 170px;
    }

    &--bigger {
        width: 82px;

        @media (min-width: map-get(v.$breakpoints, medium)) {
            width: 170px;
        }
    }
}


.logo__text {
    display: none;

    @media (min-width: map-get(v.$breakpoints, large)) {
        display: inline;
        margin-left: map-get(v.$indents, small);
        width: 180px;
        font-size: map-get(v.$font-size, small);
        line-height: map-get(v.$line-height, small);

        &--bigger {
            display: block;
            width: 318px;
            margin-top: 10px;
            margin-left: 0;
            font-size: map-get(v.$font-size, main);
            line-height: map-get(v.$line-height, main);
        }
    }
}
