@use "./../global/variables" as v;
@use "./../global/colors" as c;

.map {
    position: relative;
    height: 420px;

    @media (min-width: map-get(v.$breakpoints, medium)) {
        height: 480px;
    }

    @media (min-width: map-get(v.$breakpoints, large)) {
        height: 540px;
    }
}

.map__image {
    object-fit: cover;
}

.map__container {
    position: relative;
    left: 0;
    top: -100%;
    z-index: 0;
    height: 100%;
}
