@use "./../global/variables" as v;
@use "./../global/colors" as c;

.select {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: map-get(v.$breakpoints, medium)) {
        justify-content: end;
    }
}

.select__label {
    margin-right: 11px;
    font-size: map-get(v.$font-size, medium);
    line-height: map-get(v.$line-height, medium);
    font-weight: 600;
    cursor: pointer;
}

.select__input {
    width: 165px;
    padding: 4px 25px 4px 11px;
    font-family: inherit;
    font-size: map-get(v.$font-size, medium);
    line-height: map-get(v.$line-height, medium);
    font-weight: 600;
    text-overflow: ellipsis;
    color: c.$base-primary;
    background-color: transparent;
    background-image: url("./../../img/icons/stack.svg#select-arrow");
    background-repeat: no-repeat;
    background-position: calc(100% - 9px) center;
    background-size: 10px 10px;
    border: none;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    appearance: none;
    cursor: pointer;

    @media (min-width: map-get(v.$breakpoints, large)) {
        &:hover,
        &:focus {
            background-color: c.$base-secondary;
        }
    }

}
