@use "./../global/variables" as v;
@use "./../global/colors" as c;

.site-navigation__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: c.$base-white;
    transform-origin: top center;
    transform: scaleY(0);
    will-change: transform;
    transition: all 0.2s ease-out;

    @media (min-width: map-get(v.$breakpoints, medium)) {
        position: static;
        display: flex;
        flex-wrap: wrap;
        transform: scale(1);
    }

    &--nojs {
        position: static;
        width: calc(100vw - 40px);
        transform: scaleY(1);
        
    }
    
    &--opened {
        transform: scaleY(1);
    }
}

.site-navigation__item {
    @media (max-width: map-get(v.$breakpoints, medium)) {
        border-bottom: 1px solid c.$base-secondary;
        
        &:first-child {
            border-top: 1px solid c.$base-secondary;
        }
    }
}

.site-navigation__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-size: map-get(v.$font-size, small);
    line-height: map-get(v.$line-height, small);
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

    &:active {
        background-color: c.$base-secondary;

        @media (min-width: map-get(v.$breakpoints, medium)) {
            color: c.$base-primary;
        }
    }
    
    @media (min-width: map-get(v.$breakpoints, medium)) {
        position: relative;
        height: 80px;
        transition: color 0.2s ease-out;

        &:hover,
        &:focus {
            color: c.$base-primary;
        }

        &[aria-current="page"] {
            color: c.$base-primary;
        }

        &[aria-current="page"]::after {
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            height: 2px;
            background-color: c.$base-primary;
            content: "";
        }
    }
}