@use "./../global/variables" as v;
@use "./../global/colors" as c;

.swiper {
  width: 100%;
  height: 656px;

  @media (min-width: map-get(v.$breakpoints, medium)) {
    height: 828px;
    overflow: visible;
  }

  @media (min-width: map-get(v.$breakpoints, large)) {
    height: 714px;
    overflow: hidden;
  }
}

.swiper__slide {
  width: 100%;
}

.swiper__button {
  height: 100%;
  top: 0;
  bottom: 0;
  margin: 0;
  color: c.$base-primary;
  background: none;

  @media (min-width: map-get(v.$breakpoints, medium)) {
    top: -94px;
  }

  @media (min-width: map-get(v.$breakpoints, large)) {
    top: 0;
    width: 80px;
    height: 100%;
  }
}

.swiper__button::before {
  @media (min-width: map-get(v.$breakpoints, large)) {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
  }
}

.swiper__button:hover::before,
.swiper__button:focus-visible::before {
  @media (min-width: map-get(v.$breakpoints, large)) {
    opacity: 1;
  }
}

.swiper__button:active {
  @media (min-width: map-get(v.$breakpoints, large)) {
    background: linear-gradient(
      90deg,
      rgba(120, 89, 207, 0.25) 0%,
      rgba(120, 89, 207, 0) 100%
    );
  }
}

.swiper__button:active::before {
  @media (min-width: map-get(v.$breakpoints, large)) {
    display: none;
  }
}

.swiper__button:focus-visible {
  outline: 2px solid c.$base-primary;
}

.swiper__button[disabled] {
  color: c.$base-grey;
  cursor: default;
}

.swiper__button::after {
  display: none;
}

.swiper__button--prev {
  left: -4px;

  @media (min-width: map-get(v.$breakpoints, medium)) {
    left: 26px;
  }

  @media (min-width: map-get(v.$breakpoints, large)) {
    left: 0;
  }
}

.swiper__button--next {
  right: -4px;
  transform: rotate(180deg);

  @media (min-width: map-get(v.$breakpoints, medium)) {
    right: 26px;
  }

  @media (min-width: map-get(v.$breakpoints, large)) {
    right: 0;
  }
}

.swiper__icon {
  position: relative;
  z-index: 11;
}

.swiper__pagination {
  display: none;

  @media (min-width: map-get(v.$breakpoints, large)) {
    display: block;
    bottom: 64px !important; // перебиваю стандартную стилизацию SwiperJS
  }
}

.swiper__pagination span {
  width: 62px;
  height: 4px;
  margin-bottom: -12px !important; // перебиваю библиотечные стили. марджины и падинеги нужны для увеличения кликабельной области
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: transparent;
  background-image: linear-gradient(#ffffff, #ffffff);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 62px 4px;
  opacity: 1;
  border: none;
  border-radius: 0;

  &:hover,
  &:focus {
    background-image: linear-gradient(c.$primary-opacity, c.$primary-opacity);
  }

  &:focus-visible {
    outline: 2px solid c.$base-primary;
  }
}

.swiper__pagination span[aria-current="true"] {
  background-image: linear-gradient(c.$base-primary, c.$base-primary);
}
