@use "./../global/variables" as v;
@use "./../global/colors" as c;

.swiper {
    width: 100%;
    height: 656px;

    @media (min-width: map-get(v.$breakpoints, medium)) {
      height: 828px;
    }

    @media (min-width: map-get(v.$breakpoints, medium)) {
      height: 714px;
    }

    
  }

  .swiper__slide {
    width: 100%;
    
  }

  .swiper__button {
    height: 100%;
    top: 0;
    bottom: 0;
    margin: 0;
    color: c.$base-primary;
    background: none;

    @media (min-width: map-get(v.$breakpoints, medium)) {
      top: calc(50% - 94px);
    }

    @media (min-width: map-get(v.$breakpoints, large)) {
      top: 0;
      width: 80px;
    }
  }

  .swiper__button::before {    
    @media (min-width: map-get(v.$breakpoints, large)) {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.2s ease-out;
      background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      content: "";
    }
  }

  .swiper__button:hover::before,
  .swiper__button:focus-visible::before {    
    @media (min-width: map-get(v.$breakpoints, large)) {
      opacity: 1;
    }
  }


  .swiper__button:active {    
    @media (min-width: map-get(v.$breakpoints, large)) {
      background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);    }
  }

  .swiper__button:active::before {    
    @media (min-width: map-get(v.$breakpoints, large)) {
      display: none;
    }
  }
  
  
  .swiper__button:focus-visible {
    outline: 2px solid c.$base-primary;
  }
  
    .swiper__button[disabled] {
      color: c.$base-grey;
      cursor: default;
    }

  .swiper__button::after {
    display: none;
  }

  .swiper__button--prev {
    left: -4px;

    @media (min-width: map-get(v.$breakpoints, medium)) {
      left: 26px;
    }

    @media (min-width: map-get(v.$breakpoints, large)) {
      left: 0;
    }
  }

  .swiper__button--next {
    right: -4px;

    @media (min-width: map-get(v.$breakpoints, medium)) {
      right: 26px;
    }

    @media (min-width: map-get(v.$breakpoints, large)) {
      right: 0;    
    }
  }

  .swiper__button--next {
    transform: rotate(180deg);
  }

  .swiper__icon {
    position: relative;
    z-index: 11;
  }

  .swiper__pagination {
    display: none;

    @media (min-width: map-get(v.$breakpoints, large)) {
      display: block;
      bottom: 64px !important;
    }
  }

  .swiper__pagination span {
    width: 62px;
    height: 4px;
    background-color: c.$base-white;
    opacity: 1;
    border: none;
    border-radius: 0;
    transition: background-color 0.2s ease-out;

    &:hover,
    &:focus {
      background-color: c.$primary-opacity;
    }

    &:focus-visible {
    outline: 2px solid c.$base-primary;
    }
  }
  
  .swiper__pagination span[aria-current="true"] {
    background-color: c.$base-primary;
  }
  