@use "./../global/variables" as v;
@use "./../global/colors" as c;

.swiper {
    width: 100%;
    height: 656px;

    @media (min-width: map-get(v.$breakpoints, medium)) {
      height: 828px;
    }
  }

  .swiper__slide {
    width: 100%;
  }

  .swiper__pagination {
    display: none;
  }

  .swiper__button {
    @media (min-width: map-get(v.$breakpoints, medium)) {
      top: calc(50% - 94px);
    }
  }

  .swiper__button::after {
    display: none;
  }

  .swiper__icon {
    color: c.$base-primary;
  }

  .swiper__button--prev {
    left: -4px;

    @media (min-width: map-get(v.$breakpoints, medium)) {
      left: 26px;
    }
  }

  .swiper__button--next {
    right: -4px;

    @media (min-width: map-get(v.$breakpoints, medium)) {
      right: 26px;
    }
  }

  .swiper__button--next .swiper__icon {
    transform: rotate(180deg);
  }
  